<h1>colour generator</h1>
<form class="new_rainbow" id="new_rainbow" action="/colours" accept-charset="UTF-8" method="post">

<p>
  <input placeholder="Gimme your hex! eg; #1e2f4c" type="text" name="colour" id="colour" /><br><br>
  <input type="submit" value="Rainbow Merge" />
</p>

</form>

<a class="link" href="/colours">Nah, take me back</a>
