<div class="container">
  <div class="box submit"><a href="/colours/new">Submit your own here!</a></div>
  {{#each colour}}
    <div class="box" style="background: {{this.colour}}">{{this.colour}}</div>
  {{/each}}
</div>
