# general
.DS_Store

# project specific
tumblr-exporter/backup/*.jpg
tumblr-exporter/backup/*.md

# data
config.ini
*.csv
*.sqlite3

# node
node_modules

# python
bin
include
lib
pip-selfcheck.json
.Python
__pycache__
