extends layout

block content
  form(name='location-submit', action="/" method="POST")
    label(for="placeName") Place Name
    input(type="text", name="placeName")
    br
    label(for="latitude") Latitude
    input(type="text", name="latitude")
    br
    label(for="longitude") Longitude
    input(type="text", name="longitude")
    br
    input(type="submit", value="add")
