/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Raleway);

html,
body {
  background: url(/images/background.png);
  color: 	#e5e5e5;
	height: 100%;
	width: 100%;
}

h1, h2 {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}


table { border-collapse: separate; margin: 0 auto;}
td { border: none; margin: 10px; }
tr:first-child td:first-child { border-top-left-radius: 10px; padding: 10px;}
tr:first-child td:last-child { border-top-right-radius: 10px; padding: 10px;}
tr:last-child td:first-child { border-bottom-left-radius: 10px; padding: 10px;}
tr:last-child td:last-child { border-bottom-right-radius: 10px;padding: 10px;}

tr {
  background: rgba(255,255,255,0.2);
}

#time {
  display: none;
  visibility: hidden;
}


.timer-container {
  float: left;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vertical-center h1 {
	font-family: 'Lobster', cursive;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.content {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.form-control {
	width: 300px;
	display: inline-block;
 }

.home-question {
  width: 450px;
  display: inline-block;
 }

 .form-horizontal .form-group {
   margin-right: 50px;
   margin-left: -15px;
 }

.control-label {
  text-align: left;
  float: none;
}

.poll-options {
  text-align: center;
  margin: 0 auto;
  width: 750px;
}

/* Preloader with Bootstrap Progress Bar
-----------------------------------------------*/
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    color: white;
    background: url(/images/background.png);
}
.loader-container {
    width: 600px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
