/* Version 1 styles */

.racetrack td {
	background-color: white;
	border: 1px solid black;
	height: 20px;
	width: 20px;
}

#racer_1 td.active {
	background-color: orange;
}

#racer_2 td.active {
	background-color: green;
}