<div class="container poll-options">
  <h1>{{this.name}}</h1>
  <form class="form-horizontal poll-options" action="/questions/{{this.id}}" method="POST">
    <div class="choice-holder">
      <div class="form-group">
        <label for="entry1" class="col-sm-2 control-label">Option 1</label>
        <input type="text" name="name" class="form-control" id="entry1" placeholder="Please enter a choice">
      </div>
      <div class="form-group">
        <label for="entry2" class="col-sm-2 control-label">Option 2</label>
        <input type="text" name="name" class="form-control" id="entry2" placeholder="Please enter a choice">
      </div>
    </div>
    <button type="button" class="btn btn-warning" onClick="addOption()">Add another option ( + )</button>
    <button type="button" class="btn btn-danger" onClick="removeOption()">Remove last option ( - )</button>
    <button type="submit" class="btn btn-success">Create Poll</button>
  </form>
  <p>{{pageObject}}</p>
</div>
<script type="text/javascript" src="/javascript/append.js"></script>
<script type="text/javascript" src="/javascript/jquery.toaster.js"></script>
